body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}

input, select, button {
  background-color: grey;
  color: white;
  border: solid 1px darkgrey;
}

canvas {
  border: solid white 1px;
}

.control-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.flex-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

.flex-controls > div,
.flex-controls-vertical > div {
  margin-right: 30px;
}

.flex-controls-vertical {
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
  max-height: 360px;
}

.numeric-input-control {
  display: inline-block;
}

.note {
  min-width: 4em;
  padding-left: 5px;
  display: inline-block;
}

#errors {
  color: red;
  font-size: 12pt;
}
